@{
  this.ViewData["title"] = "Edit Page";
  Department department = ViewData["department"] as Department;
}

@* <form method="POST" formaction="/department/editform">
  Name:<input type="text" name="department_name" asp-for="DepartmentName"></input>
  <input type="submit" />
</form> *@