@using EmployeeManagerMVC.Models;

@{
    ViewData["Title"] = "DepartmentList Page";
    List<Department> departmentList = ViewData["departments"] as List<Department>;
}

<div class="text-center">
   @{
    <fieldset>
    <table>
      <thead>
        <th>Department Id
        </th>
        <th>Department Name
        </th>
        <th>Edit</th>
        <th>Delete</th>
      </thead>
      <tbody>
        @foreach(Department item in departmentList){
          <tr> 
            <td>@item.Id</td>
            <td><a href="/department/getdepartment/@item.Id" >@item.DepartmentName</a></td>
            <td><button type="button"><a href="/department/edit/@item.Id">Delete</a></button></td>
            <td><button type="button"><a href="/department/delete/@item.Id">Delete</a></button></td>
          </tr>
        }
      </tbody>
    </table>
    <button type="button"><a href="/department/create">AddDepartment</a></button>
    </fieldset>
   }
</div>
