@{
    ViewData["Title"] = "Successfull Registration Page";
}

<h2>Registration Done Successfully</h2>
<button button type="button" class="btn btn-light" data-mdb-ripple-color="dark">
    <a class="nav-link text-dark" asp-area="" asp-controller="Bikes" asp-action="Index">All Bikes</a>
</button>