@using HRManager
@model IEnumerable<Employee>
<h3>Helloooo</h3>
<ul>
        @foreach(var item in Model)
        {   
                <li>
                    @item
                </li>
        }
        </ul>